@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mycolor{
    background-color: #7a8aff;
}
@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}